<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .border{
          border:solid black 5px;
        }
      </style>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Taimur ka Dhaba</title>
  <link rel="shortcut icon" href="favicon1.png" type="image/x-icon"/>
  <script src="order_list.js"></script>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo"><i class="medium material-icons">local_dining</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/menu">Menu</a></li>
          <li><a href="/cart">Cart</a></li>
          <li><a href="/cart"><i class="medium material-icons">add_shopping_cart</i></a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/cart">Cart</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  

  <div class="jumbotron text-xs-center">
    <h1 class="display-3">Thank You for your order!</h1>
    <p class="lead"><strong>Please wait </strong>till we ring your doorbell.</p>
    <hr>
    <p>
      Please share your feedback <a href="/feedback">Feedback</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
    </p>
  </div>

  <footer class="page-footer #827717 lime darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Navigate</h5>
          <ul>
            <li><a class="white-text" href="/">Home</a></li>
            <li><a class="white-text" href="/about">About Us</a></li>
            <li><a class="white-text" href="/gallery">Gallery</a></li>
            <li><a class="white-text" href="/menu">Menu</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Reach Us</h5>
          <ul>
            <address>Stress Number-12<br>Central street<br>Lailunga,Chattisgarh<br>Near fulka Market</address>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Just another great team </a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
