<% include ./partials/header%>

<!-- Nav Desktop -->
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="index.html" class="brand-logo"><i class="medium material-icons">local_dining</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/menu">Menu</a></li>
          <li><a href="/cart">Cart</a></li>
          <li><a href="/cart"><i class="medium material-icons">add_shopping_cart</i></a></li>
      </ul>

  <!-- Nav Mobile-->

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/cart"><i class="medium material-icons">add_shopping_cart</i></a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
              <!-- Cart head and the image-->
    <div class="container">
    <div><img src="images/shopping-cart.png" width="20%" height="20%" style="margin-top:0px" alt="Unsplashed background img 1"><h4>Your Shopping Cart is ready</h4></div>
  </div>
  <br>

  <div class="container"><!-- Main cart list and button -->
    <hr><ul id="content">
      <li id="output"><h5>Green Goddess Salad
        <button onclick="incnumber(value,11.17)" style="float: right" id="green_salad" class="btn-floating btn-small waves-effect waves-light black margin" value="green_count" ><i class="material-icons">add</i></button>
            <span class="margin" id="green_count">0</span><span class="margin">Quantity: </span>  
              <button onclick="decnumber(value,11.17)" style="float: right" class="btn-floating btn-small waves-effect waves-light black margin" value="green_count" ><i class="material-icons">remove</i></button>  
            </h5> 
          </li>
      <li id="output"><h5>French Fries
        <button onclick="incnumber(value,4.57)" style="float: right" class="btn-floating btn-small waves-effect waves-light black margin" value="french_count" ><i class="material-icons">add</i></button>
          <span class="margin" id="french_count">0</span><span class="margin">Quantity: </span>
            <button onclick="decnumber(value,4.57)" style="float: right" class="btn-floating btn-small waves-effect waves-light black margin" value="french_count" ><i class="material-icons">remove</i></button>
          </h5>
        </li>
      <li id="output"><h5>Spring Fed Rainbow Trout
        <button onclick="incnumber(value,18.27)" style="float: right" class="btn-floating btn-small waves-effect waves-light black margin" value="spring_count" ><i class="material-icons">add</i></button>
          <span class="margin" id="spring_count">0</span><span class="margin">Quantity: </span>
            <button onclick="decnumber(value,18.27)" style="float: right" class="btn-floating btn-small waves-effect waves-light black margin" value="spring_count" ><i class="material-icons">remove</i></button>
          </h5>
        </li>
      <li id="output"><h5>Shaved Celery Salad
        <button onclick="incnumber(value,12.97)" style="float: right" class="btn-floating btn-small waves-effect waves-light black margin" value="shaved_count" ><i class="material-icons">add</i></button>
          <span class="margin" id="shaved_count">0</span><span class="margin">Quantity: </span>
            <button onclick="decnumber(value,12.97)" style="float: right" class="btn-floating btn-small waves-effect waves-light black margin" value="shaved_count" ><i class="material-icons">remove</i></button>
          </h5>
        </li>
      <li id="output"><h5>Snap Pea Succotash
        <button onclick="incnumber(value,5.60)" style="float: right" class="btn-floating btn-small waves-effect waves-light black margin" value="snap_count" ><i class="material-icons">add</i></button>
          <span class="margin" id="snap_count">0</span><span class="margin">Quantity: </span>
            <button onclick="decnumber(value,5.60)" style="float: right" class="btn-floating btn-small waves-effect waves-light black margin" value="snap_count" ><i class="material-icons">remove</i></button>
          </h5>
        </li>
      <li id="output"><h5>Harissa Chicken
        <button onclick="incnumber(value,16.11)" style="float: right" class="btn-floating btn-small waves-effect waves-light black margin" value="harissa_count" ><i class="material-icons">add</i></button>
          <span class="margin" id="harissa_count">0</span><span class="margin">Quantity: </span>
            <button onclick="decnumber(value,16.11)" style="float: right" class="btn-floating btn-small waves-effect waves-light black margin" value="harissa_count" ><i class="material-icons">remove</i></button>
          </h5>
        </li>
      <li id="output"><h5>Charred Bean Salad
        <button onclick="incnumber(value,11.99)" style="float: right" class="btn-floating btn-small waves-effect waves-light black margin" value="charred_count" ><i class="material-icons">add</i></button>
          <span class="margin" id="charred_count">0</span><span class="margin">Quantity: </span>
            <button onclick="decnumber(value,11.99)" style="float: right" class="btn-floating btn-small waves-effect waves-light black margin" value="charred_count" ><i class="material-icons">remove</i></button>
          </h5>
        </li>
      <li id="output"><h5>Braised Green
        <button onclick="incnumber(value,4.33)" style="float: right" class="btn-floating btn-small waves-effect waves-light black margin" value="braised_count" ><i class="material-icons">add</i></button>
          <span class="margin" id="braised_count">0</span><span class="margin">Quantity: </span>
            <button onclick="decnumber(value,4.33)" style="float: right" class="btn-floating btn-small waves-effect waves-light black margin" value="braised_count" ><i class="material-icons">remove</i></button>
          </h5>
        </li>
      <li id="output"><h5>Farro Risotto
        <button onclick="incnumber(value,21.79)" style="float: right" class="btn-floating btn-small waves-effect waves-light black margin" value="farro_count" ><i class="material-icons">add</i></button>
          <span class="margin" id="farro_count">0</span><span class="margin">Quantity: </span>
            <button onclick="decnumber(value,21.79)" style="float: right" class="btn-floating btn-small waves-effect waves-light black margin" value="farro_count" ><i class="material-icons">remove</i></button>
          </h5>
        </li>
      <li id="output"><h5>Simple Pasta
        <button onclick="incnumber(value,15.69)" style="float: right" class="btn-floating btn-small waves-effect waves-light black margin" value="simple_count" ><i class="material-icons">add</i></button>
          <span class="margin" id="simple_count">0</span><span class="margin">Quantity: </span>
            <button onclick="decnumber(value,15)" style="float: right" class="btn-floating btn-small waves-effect waves-light black margin" value="simple_count" ><i class="material-icons">remove</i></button>
          </h5>
        </li>
    </ul><hr>
    <h3>Total:$<span id="total">0</span></h3>

    <button style="margin-bottom: 10px" class="btn waves-effect waves-light" type="submit" name="action" onclick="window.location.href='/order'">Order
      <i class="material-icons right">send</i>
    </button>
  </div>

<% include ./partials/footer%>