<% include ./partials/header%>


              <!-- Cart head and the image-->
    <div class="container">
    <div><img src="images/shopping-cart.png" width="20%" height="20%" style="margin-top:0px" alt="Unsplashed background img 1"><h4>Your Shopping Cart is ready</h4></div>
  </div>
  <br>

  <div class="container"><!-- Main cart list and button -->
    <hr><ul id="content">
    <%foods.forEach((food)=>{%>
      <li id="output">
      <h5><%=food%></h5> 
      </li>
    <% });%>
  </div>

<% include ./partials/footer%>