<% include ./partials/header%>

<!-- Nav Desktop -->
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="index.html" class="brand-logo"><i class="medium material-icons">local_dining</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/menu">Menu</a></li>
          <li><a href="/cart">Cart</a></li>
          <li><a href="/cart"><i class="medium material-icons">add_shopping_cart</i></a></li>
      </ul>

  <!-- Nav Mobile-->

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/cart"><i class="medium material-icons">add_shopping_cart</i></a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
              <!-- Cart head and the image-->
    <div class="container">
    <div><img src="images/shopping-cart.png" width="20%" height="20%" style="margin-top:0px" alt="Unsplashed background img 1"><h4>Your Shopping Cart is ready</h4></div>
  </div>
  <br>

  <div class="container"><!-- Main cart list and button -->
    <hr><ul id="content">
    <%foods.forEach((food)=>{%>
      <li id="output">
      <h5><%=food%></h5> 
      </li>
    <% });%>
  </div>

<% include ./partials/footer%>